@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>رگنا</title>

</head>
<body>
    <div style="height:10%; background-color: #f0f0f0;">Enemy: Imperial - Morale: 50 - Mana: 10</div>
    <div id="container"></div>
    <div style="height:10%; background-color: #f0f0f0">You: Mage - Morale: 50 - Mana: 10</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Konva.js"></script>
    <script src="~/js/Home/GamePlay.js"></script>
</body>
</html>
