@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 10%;">
    <h1 class="display-4">Welcome to the world of Regna</h1>
    @*<p>where you can explore the wonders of the unexplored fantasy world of Regna.</p>*@
</div>
