@using Newtonsoft.Json
@{
    var a = JsonConvert.SerializeObject(ViewData["VarTypes"] as Dictionary<int, string>);
    var id = ViewData["OCardId"];
}

<script>
    var varTypes = {};
    varTypes = @Html.Raw(a);
    var OCardId = @Html.Raw(id);
</script>


@section css{
    <style>
        th:first-child {
            width: 5% !important;
        }
    </style>
}
    @{
    ViewData["Title"] = "Variable Builder";
}

<h1>@ViewData["Title"]</h1>

<div id="OVariableTable" style="width: 60%; margin: auto;"></div>



@section scripts{
    <script type="text/javascript">
        let i = 1;
        $(document).ready(function() {

            //Prepare jtable plugin
            $('#OVariableTable').jtable({
                title: 'The Variables Table',
                paging: true,
                actions: {
                    listAction: '/Home/GetListOfOVariables',
                    deleteAction: '/Home/DeleteOVariable',
                    updateAction: '/Home/UpdateOVariable',
                    createAction: '/Home/AddOVariable'
                },
                fields: {
                    OVariableId: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    foo: {
                        create: false,
                        edit: false,
                        width: '12%',
                        //list: false,
                        display: function(data) {
                            return i++;
                        }
                    },
                    OVariableName: {
                        title: 'Name',
                        //width: '15%'
                    },
                    VariableType: {
                        title: 'Variable Type',
                        options: varTypes,
                    },
                    InitialValue: {
                        title: 'Initial Value',
                    },
                    IsGeneric: {
                        create: false,
                        edit: false,
                        title: 'Is Generic',
                        options: { true: "true", "false": "false" }
                    },
                    //EmailAddress: {
                    //    title: 'Emal address',
                    //    list: false
                    //},
                    //Password: {
                    //    title: 'User Password',
                    //    type: 'password',
                    //    list: false
                    //},
                    //Gender: {
                    //    title: 'Gender',
                    //    width: '12%',
                    //    options: { 'M': 'Male', 'F': 'Female' }
                    //},
                    //CityId: {
                    //    title: 'Living city',
                    //    width: '15%',
                    //    options: '/Home/GetCityOptions'
                    //},
                    //BirthDate: {
                    //    title: 'Birth date',
                    //    width: '18%',
                    //    type: 'date',
                    //    displayFormat: 'yy-mm-dd'
                    //},
                    //Education: {
                    //    title: 'Education',
                    //    list: false,
                    //    type: 'radiobutton',
                    //    options: { '1': 'Primary school',
                    //       '2': 'High school', '3': 'University' }
                    //},
                    //About: {
                    //    title: 'About this person',
                    //    type: 'textarea',
                    //    list: false
                    //},
                    //IsActive: {
                    //    title: 'Status',
                    //    width: '10%',
                    //    type: 'checkbox',
                    //    values: { 'false': 'Passive', 'true': 'Active' },
                    //    defaultValue: 'true'
                    //},
                    //RecordDate: {
                    //    title: 'Record date',
                    //    width: '18%',
                    //    type: 'date',
                    //    displayFormat: 'dd.mm.yy',
                    //    create: false,
                    //    edit: false
                    //}
                }
            });

            //Load person list from server
            $('#OVariableTable').jtable('load', { OCardId: OCardId });
        });

    </script>
}